---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  -modernize-avoid-pragma-once,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  portability-*,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - key: modernize-use-auto
    value: 'true'
  - key: modernize-use-trailing-return-type
    value: 'true'

  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.StatementThreshold
    value: '50'

  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
