---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-include-cleaner,
  portability-*,
  cppcoreguidelines-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'

CheckOptions:
  - key: modernize-use-auto
    value: 'false'

  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.StatementThreshold
    value: '50'

  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'

  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues
    value: 'true'

  - key: cppcoreguidelines-owning-memory.IgnoreSmartPointers
    value: 'true'
...
