repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        types_or: [c, c++, header]
        args: [-i]
        exclude: ^saucer_shoot/  # TODO: Re-enable Saucer Shoot workflows when dragonfly library is re-implemented

      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        types_or: [c, c++]
        args: ["-p", "dragonfly/build", "--quiet"]
        exclude: ^saucer_shoot/  # TODO: Re-enable Saucer Shoot workflows when dragonfly library is re-implemented
