name: Dragonfly Library - Build and Test

on:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y \
          cmake \
          g++ \
          libx11-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxi-dev \
          libxext-dev \
          libgl1-mesa-dev \
          libudev-dev \
          libopenal-dev

      - name: Install dependencies on macOS
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install cmake sfml

      - name: Configure
        run: cmake -S . -B build

      - name: Build and Test
        run: cmake --build build --target test-dragonfly
